<div class="container">
  <h1>Gr&aacute;ficos Dinamicos de Angular</h1>
  <small>Se usa la libreria de <a href="https://valor-software.com/ng2-charts">ng2-charts</a></small>
  <hr>
  <h3>Gr&aacute;fico de Linea</h3>
  <hr>
  <app-line-chart></app-line-chart>
  <hr>
  <h3>Gr&aacute;fico de Barras</h3>
  <hr>
  <app-bar-chart></app-bar-chart>
  <hr>
  <h3>Gr&aacute;fico de Donas</h3>
  <hr>
  <app-doughnut-chart></app-doughnut-chart>
  <hr>
  <h3>Gr&aacute;fico de Radar</h3>
  <hr>
  <app-radar-chart></app-radar-chart>
  <hr>
</div>